.submit {
    margin-top: 1rem;
}
.icon {
    margin: 0 4px;
    color: #80808080;
    opacity: 0.5;
}

.active {
    color: green;
}

.cardImg {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-left: 2rem;
    border: 2px solid black;
    box-shadow: 0 0 12x black;

}