.cardImg {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.card {
    margin: 1rem;
    width: 24rem;
    font-family: 'Courier New', Courier, monospace;
}

.cardBody {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icons {
    position: absolute;
    top: 0;
    right: 0;
}