
/* custom bootstrap */
.nav-link.active {
  text-decoration: underline;
}

.navbar-brand {
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">")!important;
}